# Bonus: Temperature Analysis I

In [36]:
import pandas as pd
from datetime import datetime as dt

In [37]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [38]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'], infer_datetime_format=True)
print(df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [39]:
# Set the date column as the DataFrame index
data = df.set_index('date')
data.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [40]:
# Drop the date column
data = data.drop(columns = 'date')

KeyError: "['date'] not found in axis"

### Compare June and December data across all years

In [41]:
from scipy import stats

In [61]:
# Filter data for desired months
June = data[data.index.month==6]

December = data[data.index.month==12]
June

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[1700 rows x 3 columns]

In [62]:
# Identify the average temperature for June
June['tobs'].mean()

74.94411764705882

In [63]:
# Identify the average temperature for December
December['tobs'].mean()

71.04152933421226

In [70]:
# Create collections of temperature data
june_tobs = pd.DataFrame(June.tobs)
december_tobs = pd.DataFrame(December.tobs)

june_index = june_tobs.reset_index(drop=True, inplace=True)

december_index = december_tobs.reset_index(drop=True, inplace=True)

december_tobs

      tobs
0       76
1       74
2       74
3       64
4       64
...    ...
1512    71
1513    71
1514    69
1515    65
1516    65

[1517 rows x 1 columns]

In [71]:
# Run paired t-test
t, p = stats.ttest_rel(june_tobs, december_tobs)
t, p

ValueError: unequal length arrays

### Analysis